@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
    background-color: var(--yellow);
    --yellow: hsl(47, 88%, 63%);

    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

.card {
    width: 285px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    border: 1px var(--gray-950) solid;
    margin: auto;
    box-shadow: 8px 8px 0px black;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 600px) {
    .card {
        width: 342px;
    }
}

.tag {
    background-color: var(--yellow);
    color: var(--gray-950);
    font-size: 14px;
    font-weight: 800;
    max-width: min-content;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.image {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.date {
    color: var(--gray-950);
    font-size: 14px;
    font-weight: 500;
}

.title {
    color: var(--gray-950);
    font-size: 24px;
    font-weight: 800;
}

.title:hover {
    color: var(--yellow);
    cursor: pointer;
}

.description {
    color: var(--gray-500);
    font-size: 16px;
    font-weight: 500;
}

.author {
    display: flex;
    gap: 12px;
    color: var(--gray-950);
    font-size: 14px;
    font-weight: 800;
    align-items: center;
}

.avi {
    width: 32px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 25px;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}